:root {
	--font-family: 'Roboto', 'Open Sans', system-ui, sans-serif;
	--background-color: #2e2f34;
	--button-bg-color: #3e3e43;
	--button-hover-bg-color: #535358;
	--text-color: #cfcfcf;
	--title-color: #fff;
	--additional-color: #aaaaad;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: 14px;
	scrollbar-color: hsla(0, 0%, 100%, 0.1) var(--background-color);
	scrollbar-width: thin;
}

button {
	font-family: var(--font-family);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-color);
	background-color: var(--button-bg-color);
	border-radius: 6px;
	padding: 6px;
	outline: none;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: var(--button-hover-bg-color);
}
